@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

html, body {
    width:100%;
    overflow-x:hidden
}

:root {
    --primary-color: #deb887;
    --secondary-color: #aa5042;
    --button-hover: #ae834b;
    --sample-navbar-bg: #eae7e2;
    --text-color-light: #ffffff;
    --text-color-dark: #202020;
    --font-family: 'Montserrat', sans-serif;
}

.logo {
    height: 70px
}

.navbar {
    z-index: 1000;
    background: var(--sample-navbar-bg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.nav-link:hover, .dropdown-item:hover {
    color: var(--primary-color) !important
}

.login-btn, .register-btn {
    border: 1.5px solid var(--button-hover) ;
    background: var(--primary-color);
    color: var(--text-color-dark)
}

.login-btn:hover, .register-btn:hover {
    background: var(--button-hover)
}