@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:var(--font-family);
    word-wrap: break-word;
}

html, body {
    width:100%;
    overflow-x:hidden
}

:root {
    --primary-color: #deb887;
    --button-hover: #ae834b;
    --sample-navbar-bg: #fefdfc;
    --text-color-light: #ffffff;
    --text-color-dark: #202020;
    --font-family: 'Montserrat', sans-serif;
}

.logo-img {
    height: 80px
}

.input-group-addon i {
    margin-left: -37px;
    cursor: pointer;
    z-index: 200;
    color:var(--text-color-dark)
}


.registration-form-container {
    border-radius:10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(250, 250, 250, 0.4) 0px 2px 4px, rgba(250, 250, 250, 0.3) 0px 7px 13px -3px, rgba(250, 250, 250, 0.2) 0px -3px 0px inset;
    width: 400px
}

.register-btn {
    background:var(--primary-color);
}

.register-btn:hover{
    background:var(--button-hover);
    color:var(--text-color-dark)
}

.login-link:hover, .register-link:hover {
    color: var(--link-hover-bg)
}

.register-container {
    background: url('../home_images/register-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
}

.login-link {
    color: var(--primary-color)
}

.login-link:hover {
    color: var(--button-hover)
}
